<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head lang="en">-->
    <!--<meta charset="UTF-8">-->
    <!--<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">-->
    <!--<title>chat</title>-->
    <!--<link rel="stylesheet" href="/main.css">-->
    <!--<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">-->
    <!--<link rel="icon" href="favicon.ico" type="image/x-icon">-->
<!--</head>-->
<!--<body>-->
<!--<canvas id="cas"></canvas>-->
<% include header %>
    <div class="wrapper">
    <div class="banner">
        <h1>即时聊天系统-rainbow版</h1>
        <span id="status"></span>
    </div>
    <div id="historyMsg"></div>
    <div class="controls">
        <div class="items">
            <input id="colorStyle" type="color" placeholder="#000" title="font color">
            <input id="emoji" type="button" value="emoji" title="emoji">
            <label for="sendImage" class="imageLable">
                <input type="button" value="image"/>
                <input id="sendImage" type="file" value="image" title="发送图片"/>
            </label>
            <input type="button" id="clearBtn" value="clear" title="clear screen">
        </div>
        <textarea id="messageInput" placeholder="enter to send"></textarea>
        <input id="sendBtn" type="button" value="SEND">
        <div id="emojiWrapper"></div>
    </div>
</div>
<div id="loginWrapper">
    <p id="info">connecting to server......</p>
    <div id="nickWrapper">
        <input type="text" placeholder="nickname" id="nicknameInput"/>
        <input type="button" value="OK" id="loginBtn">
    </div>
</div>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/canvas.js"></script>
<% include footer %>
<!--</body>-->
<!--</html>-->