<% include header %>
    <div class="container">
        <form method="post" class="form create">
            <div>
                <label>标题:</label>
                <input placeholder="文章标题" type="text" name="title">
            </div>
            <div>
                <label>内容:</label>
                <textarea name="content" id="content" cols="42" rows="10"></textarea>
            </div>
            <div class="submit">发表</div>
        </form>
    </div>
    <script type="text/javascript">
        $('.submit').click(()=>{
            console.log($('.form').serialize());
            $.ajax({
                url:'/create',
                data: $('.form').serialize(),
                type: 'post',
                dataType: 'json',
                cache: false,
                success: function(msg){
                    if(msg){
                        $('.success').text('发表文章成功');
                        fade('.success');
                        setTimeout(()=>{
                            window.location.href='/posts';
                        },1000);
                    }else{
                        $('.error').text('发表文章失败');
                        fade('.error');
                        setTimeout(()=>{
                            window.location.reload();
                        },1000);
                    }
                },error: function(){
                    alert('发表文章出现异常');
                }
            });
        });
    </script>