        </div>
        <div class="chat">
            <a href="/chat">看文章累了,来跟大家聊聊天吧</a>
        </div>
        <footer>
            <span>@copyRight-rainbow</span>
            <strong>地址:</strong><span>高新区孵化园XXXX</span>
            <strong>邮箱:</strong><span>739156890@qq.com</span>
        </footer>
        <script type="text/javascript">
            <!-- footer自适应文档高度-->
            function ct() {
                return document.compatMode == "BackCompat" ? document.body.clientHeight : document.documentElement.clientHeight;
            }
            (window.onresize=function(){
                var position=document.body.scrollHeight > ct() ? '' : 'absolute';
                $('footer').css('position',position);
            })();
        </script>
    </body>
</html>