        </div>
        <div class="chat">
            <a href="/chat" title="看文章累了,来跟大家聊聊天吧">
                <img src="/img/atm.png" width="60px" height="60px">
            </a>
        </div>
        <div class="back">
            <a title="回到顶部">
                <img src="/img/less.png" width="70px" height="70px">
            </a>
        </div>
        <div class="meeting">
            <a title="十九大专题报告" href="/yanhua">
                <p>热烈祝贺党的十九大顺利召开</p>
                <img src="/img/19.jpg" alt="喜迎十九大">
            </a>
        </div>
        <% include weather %>
        <footer>
            <span>@copyRight-rainbow</span>
            <strong>地址:</strong><span>高新区孵化园XXXX</span>
            <strong>邮箱:</strong><span>739156890@qq.com</span>
        </footer>
        <script type="text/javascript" src="/js/canvas.js"></script>
        <script type="text/javascript" src="/js/weather.js"></script>
        <script type="text/javascript">
            <!-- footer自适应文档高度-->
            function ct() {
                return document.compatMode == "BackCompat" ? document.body.clientHeight : document.documentElement.clientHeight;
            }
            (window.onresize=function(){
                var position=document.body.scrollHeight > ct() ? '' : 'absolute';
                $('footer').css('position',position);
            })();
            $(document).ready(function(){
                if($('.chat').css('display')=='none'){
                    $('.chat').css('display','block');
                }
                $(window).on('scroll');
                setInterval(animate,1000);
//                animate();
            });
//            window.onload=function(){
//                setInterval(animate,1000);
//            }
            //方块移动动画实现
            var left= 0,y= 0,flag=false;
            function animate(){
//                var left=$('.meeting').css('left');
//                var top=$('.meeting').css('top');

                console.log('left:'+left+' top:'+y);
                console.log(window.innerWidth+";"+window.innerHeight);
                var perent=window.innerHeight/window.innerWidth;
                if(left<(window.innerWidth-$('.meeting').width())-10){
                    left+=100;
                }else{
                    left=0;
                    y=0;
                    flag=false;
                    $('.meeting').css({'left': left+'px','top': y+'px'});
                    return false;
                }
                if(y<(window.innerHeight-$('.meeting').height())/2 && flag==false){
                    y+=100*perent;
                }else{
                    y-=100*perent;
                    flag=true;
                }
                $('.meeting').css({'left': left+'px','top': y+'px'});
//                raf(animate);
            }
            var raf=window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame ||
                    window.oRequestAnimationFrame || window.msRequestAnimationFrame || function(callback){
                        window.setTimeout(callback,1000/60);
                    };
            $(window).scroll(function(){
                var scHeight=$(window).scrollTop();
                var width=$(window).height();
                if(scHeight>100){
//                    $('.back').css('display','block');
                    //增加渐隐渐现的效果
                    $('.back').fadeIn(1500);
                }else{
//                    $('.back').css('display','none');
                     $('.back').fadeOut(1500);
                }
            });
            $('.back').click(function(){
//                var scHeight=$(window).scrollTop();
                $('body,html').animate({scrollTop:0},300);
                return false;
            });
            //根据鼠标进入和离开显示天气信息
            $('.show_weather').mouseover(function(e){
                var timer1=setTimeout(()=>{
                    $('.weather-box').fadeIn(1000);
                    $('.show_weather').animate({'left':'-50px'},500);
                },500);

//                var left= e.clientX+10;
//                var top=$(window).height()- e.clientY;
//                $('.weather-box').css({'left':left,'top': top});
            });
            $('.weather-box').mouseleave(function () {
                var timer2=setTimeout(()=>{
                    $('.weather-box').fadeOut(1000);
                    $('.show_weather').animate({'left':'10px'},500);
                },500);
//                $('.weather-box').fadeOut(1000);
//                $('.show_weather').fadeIn(1000);
//                $('.show_weather').animate({'left':'10px'},500);
            });
        </script>
    </body>
</html>