        </div>
        <div class="chat">
            <a href="/chat" title="看文章累了,来跟大家聊聊天吧">
                <img src="/img/atm.png" width="60px" height="60px">
            </a>
        </div>
        <div class="back">
            <a title="回到顶部">
                <img src="/img/less.png" width="70px" height="70px">
            </a>
        </div>
        <footer>
            <span>@copyRight-rainbow</span>
            <strong>地址:</strong><span>高新区孵化园XXXX</span>
            <strong>邮箱:</strong><span>739156890@qq.com</span>
        </footer>
        <script type="text/javascript">
            <!-- footer自适应文档高度-->
            function ct() {
                return document.compatMode == "BackCompat" ? document.body.clientHeight : document.documentElement.clientHeight;
            }
            (window.onresize=function(){
                var position=document.body.scrollHeight > ct() ? '' : 'absolute';
                $('footer').css('position',position);
            })();
            $(document).ready(function(){
                if($('.chat').css('display')=='none'){
                    $('.chat').css('display','block');
                }
            });
            $(window).scroll(function(){
                var scHeight=$(window).scrollTop();
                var width=$(window).height();
                if(scHeight>10){
                    $('.back').css('display','block');
                }else{
                    $('.back').css('display','none');
                }
            })
            $('.back').click(function(){
                var scHeight=$(window).scrollTop();
                $('body,html').animate({scrollTop:0},300);
            })
        </script>
    </body>
</html>